<section class="flex flex-col min-h-screen w-full">
  <app-header></app-header>
  <div class=" mt-12 flex items-center gap-10 p-10 ">
    <div class="min-h-42 min-w-42 max-h-60 max-w-60 rounded-full border-2">
      <img 
      class="min-h-42 min-w-42 max-h-60 min-w-60 object-cover rounded-full"
      src="https://avatars.githubusercontent.com/u/97442923?v=4">
    </div>
    <div>
      <h1 class="text-3xl font-bold">John doe</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus atque architecto laborum soluta alias quaerat odio quia, cum autem iusto a ipsum molestiae esse facere nulla? Distinctio excepturi omnis consequuntur.</p>
       <h3 class="flex gap-1 mt-2">
        <span>
          <img class="w-5 h-5" src="../../../assets/images/icons8-location-96.png">
        </span>
        location
       </h3>
       <h3 class="flex gap-1 mt-2">
        <span>
          <img class="w-5 h-5" src="../../../assets/images/icons8-twitter-100.png">
        </span>
        twitter url
       </h3>
    </div>
  </div>
  <div class="flex px-10 gap-2">
    <img class="w-5 h-5" src="../../../assets/images/icons8-link-100.png">
    <a href="https://github.com/RugvedKute">
      <span>https://github.com/RugvedKute</span>
    </a>
  </div>
  <div class="grid grid-cols-2 p-8 pt-2 gap-4">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  </div>
</section>