<section class="flex flex-col min-h-screen w-full">
  <app-header></app-header>
  <div class=" mt-12 flex items-center gap-10 p-10 ">
    <div class="min-h-42 min-w-42 max-h-60 max-w-60 rounded-full border-2">
      <img 
      class="min-h-42 min-w-42 max-h-60 min-w-60 object-cover rounded-full"

      src="{{userData.avatar_url}}">
    </div>
    <div>
      <h1 class="text-3xl font-bold">{{userData.login}}</h1>
      <p  *ngIf="userData.bio"
      class="mt-2">{{userData.bio}}</p>
       <h3 *ngIf="userData.location" 
       class="flex gap-1 mt-2">
        <span>
          <img class="w-5 h-5" src="../../../assets/images/icons8-location-96.png">
        </span>
        {{userData.location}}
       </h3>
       <h3
       *ngIf="userData.twitter_username"
       class="flex gap-1 mt-2">
        <span>
          <img class="w-5 h-5" src="../../../assets/images/icons8-twitter-100.png">
        </span>
        {{userData.twitter_username}}
       </h3>
    </div>
  </div>
  <div class="flex px-10 gap-2">
    <img class="w-5 h-5" src="../../../assets/images/icons8-link-100.png">
    <a href="{{userData.html_url}}">
      <span>{{userData.html_url}}</span>
    </a>
  </div>
  <ng-container *ngIf="reposList.length != 0; else repoListNone">
  <div class="mt-2 grid grid-cols-2 p-8 pt-2 max-h-[50vh] gap-x-2 gap-y-1 overflow-y-scroll">
      <app-card *ngFor="let data of reposList |  paginate: { itemsPerPage: repoPerPage, currentPage: pageNo, totalItems: totalRepos }"
      [singleRepoData]="data"
      ></app-card>
    </div>
    </ng-container>
  <div class="flex items-center justify-center gap-2">
    <pagination-controls class="mt-4"
    (pageChange)="getPage($event)" 
    [directionLinks]="true"
    ></pagination-controls>
      <select (change)="setItemsPerPage(page.value)" #page>
          <option selected>10</option>
          <option>25</option>
          <option>50</option>
          <option >100</option>
      </select>
</div>
</section>

<ng-template #repoListNone>
  <ng-container>
    <h1 class="mt- 2 flex justify-center items-center w-full h-[55vh] p-8 pt-2 text-3xl font-bold">No Repositories Found</h1>
  </ng-container>
</ng-template>